<h1>Update Owner</h1>

<form action="/owners/<%= @owner.id %>" method="POST">
  <p><label>Name:</label></p>
  <p><input type="text" name="owner[name]" id="owner_name" value="<%= @owner.name %>"></p>

  <p><label>Choose an existing pet:</label></p>
  <p><% Pet.all.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id%>"
        value="<%=pet.id%>" <%= 'checked' if @owner.pets.include?(pet) %>>
      <%= pet.name %>
    </input>
  <% end %></p>

  <p>and/or, create a new pet:</p>
  <p>
    <label for="pet[name]">name:</label>
    <input  type="text" name="pet[name]" id="pet_name" />
  </p>

  <p><input type="submit" value="Update Owner"></p>
</form>
