<h1>Update Owner</h1>

<form action="/owners/<%= @owner.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]" id="owner_name">

  <br>

  <label>Choose an existing pet:</label>

  <br>

  <% @pets.each do |pet| %>
  <p><input type="checkbox" name="owner[pet_ids][]" id="<%= pet.id %>" value="<%= pet.id %>" <%='checked' if @owner.pets.include?(pet) %>><%=   pet.name %></p>
  <% end %>

  <br>

  <label>and/or, create a new pet:</label>

  <br>
  <br>

  <label>Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name">

  <br>
  <br>

  <input type="submit" value="Update Owner">

</form>
