<h1><%= @owner.name %></h1>
<h4>Pets:</h4>
<ul>
  <% @owner.pets.each do |pet| %>
  <li><a href="/pets/<%= pet.id %>"><%= pet.name %></a></li>
  <% end %>
</ul>

<a href="/owners/<%= @owner.id %>/edit">EDIT</a>

<form class="" action="/owners/<%= @owner.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
