<h1>Update Pet</h1>
<form action="/pets/<%=@pet.id%>" method="post">
  <label>Pet Name: </label></br>
  <input type="text" name="pet[name]" id="pet_name">
  <br></br>
  <label>Choose an existing owner: </label></br>
  <%@owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>" <%='checked' if @pet.owner_id == owner.id %>><%=owner.name%></input>
  <%end%>
    <label>Or create a new owner:</label>
    <input type="text" name="owner[name]" id="owner_name">
    <br></br>
  <input type="submit" value="Update Pet">
</form>
