<h1>Update Pet</h1>

<form method="POST" action="/pets/<%=@pet.id%>">
  <label>Name:</label>
  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
  
  <br>
  
  <label>Chooose an existing Owner:</label>
  
  <br>
  
  <%Owner.all.each do |x|%>
  <input type="checkbox" name="owner[id]" value="<%=x.id%>" id="<%=x.id%>">
  <%= 'checked' if x.id == @pet.owner_id%>
  <%=x.name%>
  <%end%>
  
  <br>
  
  <label>And, or create a new Owner:</label>
  
  <br>
  
  <label>Name:</label>
  <input type="text" name="owner[name]" id="owner_name">
  <input type="submit" value="Update Pet">
</form>
