<h1>Update Pet</h1>
<form action="/pets/<%= @pet.id %>" method="post">
  <label>Name:</label>
  <p><input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>"></p>
  <br>

  <label>Choose an existing owner:</label>
  <% Owner.all.each do |o| %>
    <p><input type="radio" name="pet[owner_id]" id="<%= o.id %>" value="<%= o.id %>" <%= 'checked' if @pet.owner_id == o.id %>><%= o.name %></input></p>
    <% end %>
    <br>

    <label>Or create a new owner:</label>
    <br>

    <p><label>Owner Name:</label>
    <input type="text" name="owner[name]" id="owner_name"></p>

    <input type="submit" value="Update Pet">
</form>
