<h1>Update Pet</h1>
<form action="/pets/<%=@pet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br>

  <input type="text" name="pet_name" id="pet_name" value="<%=@pet.name%>"> <!-- this didn't need to be named pet_name it could have been id'd as it-->

  <br>

  <label>Choose an existing owner:</label>
  <br>

    <%@owners.each do |owner|%>
     <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id= "<%=owner.id%>"<%='checked'if @pet.owner == owner %>><%=owner.name%></input>
     <!-- Failure -> Capybara::ElementNotFound:
      Unable to find visible radio button 2 that is not disabled, changed checklist to radio - Omar Donnadieu -->
    <%end%>
  <br>

    <label>and/or create a new owner:</label>
    <br>
    <label>name:</label>
    <input type="text" name="owner[name]">
    <br>
  <input type="submit" value="Update Pet">
</form>
