<h1>Update Pet</h1>

<form action="/pets/<%= @pet.id %>" method="POST">
  <label>Change pet's name:</label>

  <br></br>

  <input type="text" name="pet_name" id="pet_name" value="<%= @pet.name %>">

  <br></br>

  <label>Change pet's ownership to an existing owner:</label>

  <br></br>

  <%Owner.all.each do |owner|%>
    <input type="radio" name="owner[id][]" value="<%= owner.id %>" id="<%= owner.id %>"
    <%='checked' if owner.name == @pet.owner.name %>><%=owner.name%></input>
  <%end%>

  <br></br>

    <label>and/or, create a new owner:</label>
    <br></br>
    <label>name:</label>
      <input  type="text" name="owner_name" id="owner[name]"></input>
    <br></br>
  <input type="submit" value="Update Pet">
</form>
