<h1>Update Pet</h1>
<form method="POST" action="/pets/<%= @pet.id %>">

    <p>Pet Name: <input type="text" id="pet_name" name="pet[name]" value="<%= @pet.name %>"></p>
    
    Select an existing owner:
    <% @owners.each do |owner| %>
        <p><input type="radio" id="<%= owner.id %>" name="pet[owner_id]" value="<%= owner.id %>"
        <%='checked' if @pet.owner == owner %> > <%= owner.name %> </input></p>
    <% end %>

    And/or create a new owner by name:
    <p>New Owner Name: <input type="text" id="owner_name" name="owner[name]">

    <p><input type="submit" id="submit" value="Update Pet">

</form>


