<h1>Update Pet</h1>
<form action="/pets/<%=@pet.id%>" method="post">

  <label>Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

  <br>

  <label>Choose an existing owner:</label>

  <%@owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>" <%= 'checked' if @pet.owner.name == owner.name %>><%= owner.name%></input>
    <%end%>

    <label>and/or create new owner:</label>
    <br>
    <label>Name:</label>
    <input type="text" name="owner[name]" id="owner_name" value="">
    <br>
    <input type="submit" name="submit" value="Update Pet">

</form>
