<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  
  <label>Name</label>
  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
  
  <br>
  
  <label>choose an existing owner:</label>
  <% Owner.all.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>" <%='checked' if @pet.owner.name == owner.name %>><%=owner.name%></input>
    <% #binding.pry %>
  <% end %>
  <% #binding.pry %>
  <br>
  <label>and/or, create new owner</label>
  <br>
  <label>name</label>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <input type="submit" value="Update Pet">
</form>

