<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%> method="POST">
  <input type="hidden" name="_method" value="patch">

  <label>Name:</label>

  <br></br>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
  <% @owners.each do |owner| %>
    <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>"><%=owner.name%>
  <% end %>

  <input type="submit" id="submit" value="Update Owner">

</form>
