#pets/edit.erb
<h1>Update Pet</h1>


<form class="" action="/pets/<%=@pet.id%>" method="post">
  <label>Name:</label><br><br>
  <input type="text" name="pet[name]" value="<%=@pet.name%>" id="pet_name"><br><br>
  <label>Select an owner: </label><br><br>

  <%Owner.all.each do |owner|%>
    <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" <%= 'checked' if @pet.owner == owner%> id=<%=owner.id%>><%=owner.name%></input>
    <%end%>
  <br><br>

  And/or creat a new owner:
  <br><br>
  <input type="text" name="owner[name]" value="" id="owner_name">
  <input type="submit"  value="Update Pet">

</form>
