<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="pet[name]" id="pet_name">
  <br></br>
  <% Owner.all.each do |owner| %>
    <input type="checkbox" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>" <%='checked' if @pet.owner.name == owner.name%>><%=owner.name%></input>
    <br>
  <% end %>
  <br>
  <h3><label>And/or create a new owner:</label></h3>
  <label>Name:</label>
  <input type="text" name="owner[name]" id="owner_name">
  <br></br>
  <input type="submit" value="Update Pet">
</form>
