<h1>Update Pet</h1>


<form action="/pets/<%= @pet.id%>" method="post">

    <h2>Pet Name: </h2>
    <h3><%=@pet.name%></h3>
      <input type="text" name="pet_name" id="pet_name"></input>

      <h2>Owners: </h2>
       <!-- <h4><%=@pet.owner.name%></h4>
       <input type="radio" name="owner[name]" value="<%=@pet.owner.name%>" id="<%=@pet.owner.id%>"></input> -->

      <%@owners.each do |owner|%>
          <%if owner.id == @pet.owner_id%>
              <h4><%=@pet.owner.name%></h4>
              <input type="text"name="owner_name"  id="<%=@pet.owner.id%>" checked></input>
          <%else%>
              <h4><%=owner.name%></h4>
                  <input type="radio" name="owner[name]" value="<%=owner.name%>" id="<%=owner.id%>"></input>
          <%end%>
      <%end%>
      <br>

      <input type="submit" name="Update Pet" value="Update Pet">
</form>
