<h1>Update Pet</h1>
<form action="/pets/<%= @pet.id %>" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="pet[name]" value="<%= @pet.name %>" id="pet_name">
  <br></br>
  <label>Choosing an existing owner:</label>
  <br></br>
  <% @owners.each { |owner| %>
  <input type="radio" name="pet[owner_id]" value="<%= owner.id %>" id="<%= owner.id %>"
  <%='checked' if @pet.owner.eql?(owner) %>> <%= owner.name %></input>
  <br></br>
  <% } %>
  <label>or create a new owner:</label>
  <br></br>
  <label>name:</label>
    <input type="text" name="owner[name]" id="owner_name"></input>
  <br></br>
  <input type="submit" value="Update Pet">
</form>
