<h1>Edit <%= @pet.name %></h1>

<%= @pet.name %>'s current owner: <%= @pet.owner.name %><br><br>

<form action="/pets/<%= @pet.id %>" method="POST">

  <label> Edit Pet Name:</label> <br>
  <input type="text" name="pet[name]" value ="<%= @pet.name %>" id="pet_name">
  <br><br>

  <label> Edit Owner:</label> <br>

  <% Owner.all.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%= owner.id %>" id="<%= owner.id %>" <%="checked" if @pet.owner = owner %>>
    <%= owner.name %></input><br>
  <% end %>
  <br>

  <label>or, create a new owner (overrides any selection above):</label><br>
  <label>Owner Name:</label>
  <input type="text" name="owner[name]" id="owner_name"></input><br><br>

  <br>
  <input type="submit" value="Update Pet">
</form>
