<h1>Update Pet</h1>

<form action="/pets/<%= @pet.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="pet_name">Pet name:</label>
    <input type="text" name="pet[name]" id="pet_name" placeholder="<%= @pet.name %>">
    <br>
    <label for="pet_owner">Pet owner:</label>
    <% @owners.each do |owner| %>
        <br>
        <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%= "checked" if @pet.owner && owner.id == @pet.owner.id %> class="radio-buttons">
            <%= owner.name %>
        </input>
    <% end %>
    <br>
    <label>and/or, create a new pet:</label>
    <br>
    <label>name:</label>
    <input type="text" name="owner[name]" id="owner_name" >

    <input type="submit" value="Update Pet">
</form>

<script>
    function deselectRadioButtons() {

        document.querySelectorAll(".radio-buttons").forEach(
            (element, index, array) => {
                element.checked = false
            }
        )
    }
</script>

