<h1>Update Pet</h1>

<form action="/owners/<%= @pet.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Name: </label>

  <br>

  <input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>">

  <br>

  <label>Choose an existing owner:</label>

  <br>

  <% @owners.each do |owner| %> <!-- add checked property to each checkbox with condition to test whether given pet is already present -->
    <input type="checkbox" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%='checked' if @pet.owner.include?(owner) %>><%= owner.name %></input>
  <% end %>
  <br>
  <br>
  <label>name:</label>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <br>
  <input type="submit" value="Update Pet">
</form>
