<h1>Edit a Pet</h1>

<form class="pet-form" action="/pets/<%= @pet.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label for="pet_name">Name: </label>

  <br></br>

  <input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>">

  <br></br>

  <label>Select owner: </label>

  <br><br>

  <% Owner.all.each do |owner| %>
    <input type="radio" name="pet[owner_id]" value="<%= owner.id %>" id="<%= owner.id %>" <%= "checked" if owner.pets.include?(@pet) %>>
      <%= owner.name %>
    </input>
  <% end %>

  <br></br>

  <label>Or type owner's name: </label>

  <br></br>

  <input type="text" name="owner[name]" value="" id="owner_name">

  <br></br>

  <input type="submit" value="Update Pet">


</form>
