<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <label for="pet_name">Name: </label>
  <input id="pet_name" type="text" name="pet[name]" value="<%=@pet.name%>">
  <br></br>

  <% @owners.each do |owner| %>
  <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.id%>"
  <%= 'checked' if @pet.owner == owner %>><%= owner.name %></input><br></br>
  <% end %>

  <br></br>

  <label for="owner_name">or, create a new owner: </label><br></br>
  <label for="owner_name">name: </label>
  <input type="text" id="owner_name" name="owner[name]">

  <br></br>

  <p><input type="submit" value="Update Pet"></input></p>
</form>
