<h1>Update Pet</h1>
<form method="POST" action="/pets/<%= @pet.id %>">
<label>Pet Name:</label><br/>
<input type="text" value="<%= @pet.name %>" name="pet_name" id="<%= @pet.id %>"><br/>

<label>Create a new Owner</label><br />
<input type="text" name="owner_name"><br/>

<label>or update/change the owner:</label>
<% Owner.all.each do |owner|%>
  <input type="radio" name="owner[name]" value="<%= owner.id %>" id="<%= owner.id %>" <%= "checked" if @pet.owner_id == owner.id %>><%= owner.name %></input>
<% end %>
<input type="submit" value="Update Pet">
</form>


