<h1>Update Pet</h1>

<form action = '/pets/<%= @pet.id %>' method="POST">
    <p><label>Pet's Name: </label>
    <input type="text" name="pet[name]" id="pet_name" value="<%= @pet.name %>"></p>

    <p>Choose an existing owner:</p>

    <p><% @owners.each do |owner|%>
        <input type="checkbox" name="pet[owner_id]" value="<%=owner.id %>" id="<%=owner.id%>" <%= 'checked' if @pet.owner == owner %> ><%= owner.name%>
    <%end%></p>

  <label>and/or, create a new owner:</label>
    <br></br>
    <label>Name:</label>
      <input  type="text" name="owner[name]" id="owner_name"></input>
    <br></br>
  <input type="submit" value="Update Pet">

</form>
