<h1>Update Pet</h1>

<form action="/pets/<%=@pet.id%>" method="post">
  <label>Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

  <p>
    <label>Choose an existing owner:</label>
  <br></br>
  <%@owners.each do |owner|%>
    <input type="radio" name="pet[owner_id]" value="<%=owner.id%>" id="<%=owner.name%>" <%='checked' if @pet.owner.name == owner.name%>><%=owner.name%>
    </input>
  <% end %>
  </p>
  <p>
    <label>and/or, create a new owner:</label>
  <br>
    <label>name:</label>
    <input type="text" name="owner[name]" id="owner_name"></input>
  </p>

  <input type="submit" value="Update Pet">
</form>
