<h1>Update Pet</h1>

<form action="/pets/<%= @pet.id %>" method="POST">
  <label>Name:</label>
  <br></br>

  <input type="text" name="pet_name" value="<%= @pet.name %>" id="pet_name">
  <br></br>

  <% Owner.all.each do |owner| %>
    <input type="checkbox" name="owner_id" value="<%= owner.id %>" id="<%= owner.id %>" <%='checked' if @pet.owner == owner %>>
    <%= owner.name %>
  <% end %>
  <br></br>

  <label>and/or, create a new owner:</label>
  <br></br>

  <label>name:</label>
  <br></br>

  <input  type="text" name="owner_name"></input>
  <br></br>

  <input type="submit" value="Update Pet">
</form>
