<h1>Edit <%=@pet.name%>'s Details</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>New Name:</label>

  <br>

  <input type="text" name="pet[name]" id="pet_name">

  <br>

  <label>Choose an owner from our list of existing owners:</label>

  <%@owners.each do |owner|%>
    <input type="radio" name="owner[name]" id="<%=owner.id%>" value="<%=owner.name%>" <%='checked' if @pet.owner_id == owner.id %>><%=owner.name%></input>
  <%end%>

  <br>


  <br>

    <label>and/or, create a new owner:</label>
    <br>
    <label>name:</label>
      <input  type="text" name="owner_name"></input>
    <br>
  <input type="submit" value="Update Pet">
</form>
