<h1>Edit a Pet and/or their Owner</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <label>Pet Name: </label>
    <br></br>
    <input type="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
    <br></br>


  <label>Choose an Existing Owner:</label>
    <br></br>
    <%@owner.each do |owner|%>
      <input type="radio" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>" <%='checked' if @pet.owner.name == owner.name %>> <%=owner.name%></input>
    <%end%>
    <input type="submit" value="Update Info">

    <label>and/or, create a new owner:</label>
   <br></br>
   <label>name:</label>
     <input  type="text" name="owner[name]" id="owner_name"></input>
   <br></br>
   <input type="submit" value="Update Pet">
</form>
