<h1>Update Pet</h1>
<form action="/pets/<%= @pet.id %>" method="post">
  Name: <input type="text" name="pet[name]" value="<%= @pet.name %>" id="pet_name"><br>
  <% @owners.each do |owner| %>
      <%= owner.name %><input type="radio" name="pet[owner_id]" <%= 'checked' if @pet.owner.name == owner.name %> value="<%= owner.id %>" id="<%= owner.id %>">
  <% end %>
  <br>
  Owner Name: <input type="text" name="owner[name]" value="<%= @pet.owner.name %>" id="owner_name">
  <br>
  <br>
  <input type="submit" value="Update Pet">
</form>
